%font-base-1 {
    font-family: sans-serif;
    // sass-lint:disable no-misspelled-properties
    font-smoothing: antialiased;
    // sass-lint:enable no-misspelled-properties
    font-style: normal;
    font-weight: normal;
    hyphens: auto;
    line-height: normal;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

%font-open-sans-light-regular {

    @extend %font-base-1;

    font-family: 'open_sans_lightregular', Helvetica, sans-serif;

    i,
    em {
        @extend %font-open-sans-light-italic;
    }

}

%font-open-sans-light-italic {

    @extend %font-base-1;

    font-family: 'open_sans_lightitalic', Helvetica, sans-serif;

}

%font-open-sans-regular {

    @extend %font-base-1;

    font-family: 'open_sansregular', Helvetica, sans-serif;

    i,
    em {
        @extend %font-open-sans-italic;
    }

}

%font-open-sans-italic {

    @extend %font-base-1;

    font-family: 'open_sansitalic', Helvetica, sans-serif;

}

%font-open-sans-semi-bold-regular {

    @extend %font-base-1;

    font-family: 'open_sans_semiboldregular', Helvetica, sans-serif;

    i,
    em {
        @extend %font-open-sans-semi-bold-italic;
    }

}

%font-open-sans-semi-bold-italic {

    @extend %font-base-1;

    font-family: 'open_sans_semibolditalic', Helvetica, sans-serif;

}

%font-open-sans-bold {

    @extend %font-base-1;

    font-family: 'open_sansbold', Helvetica, sans-serif;

    i,
    em {
        @extend %font-open-sans-bold-italic;
    }

}

%font-open-sans-bold-italic {

    @extend %font-base-1;

    font-family: 'open_sansbold_italic', Helvetica, sans-serif;

}

%font-open-sans-extra-bold-regular {

    @extend %font-base-1;

    font-family: 'open_sans_extraboldregular', Helvetica, sans-serif;

    i,
    em {
        @extend %font-open-sans-extra-bold-italic;
    }

}

%font-open-sans-extra-bold-italic {

    @extend %font-base-1;

    font-family: 'open_sans_extrabolditalic', Helvetica, sans-serif;

}

%font-size-xxsmall {

    @include media-breakpoint-up(xs) {
        font-size: rem-calc(10);
    }

    font-size: rem-calc(8);

}

%font-size-xsmall {

    @include media-breakpoint-up(xs) {
        font-size: rem-calc(12);
    }

    font-size: rem-calc(10);

}

%font-size-small {

    @include media-breakpoint-up(xs) {
        font-size: rem-calc(14);
    }

    font-size: rem-calc(12);

}

%font-size-medium {

    @include media-breakpoint-up(xs) {
        font-size: rem-calc(16);
    }

    font-size: rem-calc(14);

}

%font-size-large {

    @include media-breakpoint-up(xs) {
        font-size: rem-calc(18);
    }

    font-size: rem-calc(16);

}

%font-size-xlarge {

    @include media-breakpoint-up(xs) {
        font-size: rem-calc(22);
    }

    font-size: rem-calc(20);

}

%font-size-xxlarge {

    @include media-breakpoint-up(xs) {
        font-size: rem-calc(24);
    }

    font-size: rem-calc(22);

}
