@font-face {
    font-display: fallback;
    font-family: 'open_sans_semibolditalic';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../font/opensans-semibolditalic-webfont.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'open_sans_semiboldregular';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-semibold-webfont.woff2') format('woff2'),
    url('../font/opensans-semibold-webfont.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'open_sansregular';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-regular-webfont.woff2') format('woff2'),
    url('../font/opensans-regular-webfont.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'open_sans_lightitalic';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-lightitalic-webfont.woff2') format('woff2'),
    url('../font/opensans-lightitalic-webfont.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'open_sans_lightregular';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-light-webfont.woff2') format('woff2'),
    url('../font/opensans-light-webfont.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'open_sansitalic';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-italic-webfont.woff2') format('woff2'),
    url('../font/opensans-italic-webfont.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'open_sans_extrabolditalic';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-extrabolditalic-webfont.woff2') format('woff2'),
    url('../font/opensans-extrabolditalic-webfont.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'open_sans_extraboldregular';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../font/opensans-extrabold-webfont.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'open_sansbold_italic';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('../font/opensans-bolditalic-webfont.woff') format('woff');
}

@font-face {
    font-display: fallback;
    font-family: 'open_sansbold';
    font-style: normal;
    font-weight: normal;
    src: url('../font/opensans-bold-webfont.woff2') format('woff2'),
    url('../font/opensans-bold-webfont.woff') format('woff');
}
