%text-size-xxsmall {
    font-size: rem-calc(10);
}

%text-size-xsmall {
    font-size: rem-calc(12);
}

%text-size-small {
    font-size: rem-calc(14);
}

%text-size-medium {
    font-size: rem-calc(16);
}

%text-size-large {
    font-size: rem-calc(18);
}

%text-size-xlarge {
    font-size: rem-calc(20);
}

%text-size-xxlarge {
    font-size: rem-calc(22);
}

%text-style-standard {

    @extend %font-open-sans-regular;
    @extend %text-size-medium;

    color: $color-black-1;

    i,
    em {
        @extend %font-open-sans-italic;
    }

    b,
    strong {
        @extend %font-open-sans-bold;
    }

}
