%button-base-1 {

    @extend %accessibility-outline-1;

    appearance: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    opacity: 1;
    overflow: hidden;
    transition: opacity $speed-fast ease-in-out;

    &[disabled] {
        cursor: auto;
        opacity: .5;
    }

}
