%handle-hyphens {
    //Adds a hyphen where the word breaks, if supported
    hyphens: none;
    overflow-wrap: break-word;
    //This is the dangerous one in WebKit, as it breaks things wherever
    //word-break: break-all;
    //Instead use this non-standard one:
    word-break: break-word;
    word-wrap: break-word;
}
