$spacing-xxsmall: .15625rem; //2.5px
$spacing-xsmall: .3125rem; //5px
$spacing-small: .625rem; //10px
$spacing-medium: .9375rem; //15px
$spacing-large: 1.875rem; //30px
$spacing-xlarge: 3.75rem; //60px
$spacing-xxlarge: 5.625rem; //90px

%margin-center {
    margin: 0 auto;
}

%margin-xxsmall {
    margin: $spacing-xxsmall;
}

%margin-xsmall {
    margin: $spacing-xsmall;
}

%margin-small {
    margin: $spacing-small;
}

%margin-medium {
    margin: $spacing-medium;
}

%margin-large {
    margin: $spacing-large;
}

%margin-xlarge {
    margin: $spacing-xlarge;
}

%margin-xxlarge {
    margin: $spacing-xxlarge;
}

%margin-bottom-xxsmall {
    margin-bottom: $spacing-xxsmall;
}

%margin-bottom-xsmall {
    margin-bottom: $spacing-xsmall;
}

%margin-bottom-small {
    margin-bottom: $spacing-small;
}

%margin-bottom-medium {
    margin-bottom: $spacing-medium;
}

%margin-bottom-large {
    margin-bottom: $spacing-large;
}

%margin-bottom-xlarge {
    margin-bottom: $spacing-xlarge;
}

%margin-bottom-xxlarge {
    margin-bottom: $spacing-xxlarge;
}

%margin-left-xxsmall {
    margin-left: $spacing-xxsmall;
}

%margin-left-xsmall {
    margin-left: $spacing-xsmall;
}

%margin-left-small {
    margin-left: $spacing-small;
}

%margin-left-medium {
    margin-left: $spacing-medium;
}

%margin-left-large {
    margin-left: $spacing-large;
}

%margin-left-xlarge {
    margin-left: $spacing-xlarge;
}

%margin-left-xxlarge {
    margin-left: $spacing-xxlarge;
}

%margin-right-xxsmall {
    margin-right: $spacing-xxsmall;
}

%margin-right-xsmall {
    margin-right: $spacing-xsmall;
}

%margin-right-small {
    margin-right: $spacing-small;
}

%margin-right-medium {
    margin-right: $spacing-medium;
}

%margin-right-large {
    margin-right: $spacing-large;
}

%margin-right-xlarge {
    margin-right: $spacing-xlarge;
}

%margin-right-xxlarge {
    margin-right: $spacing-xxlarge;
}

%margin-top-xxsmall {
    margin-top: $spacing-xxsmall;
}

%margin-top-xsmall {
    margin-top: $spacing-xsmall;
}

%margin-top-small {
    margin-top: $spacing-small;
}

%margin-top-medium {
    margin-top: $spacing-medium;
}

%margin-top-large {
    margin-top: $spacing-large;
}

%margin-top-xlarge {
    margin-top: $spacing-xlarge;
}

%margin-top-xxlarge {
    margin-top: $spacing-xxlarge;
}

%padding-xxsmall {
    padding: $spacing-xxsmall;
}

%padding-xsmall {
    padding: $spacing-xsmall;
}

%padding-small {
    padding: $spacing-small;
}

%padding-medium {
    padding: $spacing-medium;
}

%padding-large {
    padding: $spacing-large;
}

%padding-xlarge {
    padding: $spacing-xlarge;
}

%padding-xxlarge {
    padding: $spacing-xxlarge;
}

%padding-bottom-xxsmall {
    padding-bottom: $spacing-xxsmall;
}

%padding-bottom-xsmall {
    padding-bottom: $spacing-xsmall;
}

%padding-bottom-small {
    padding-bottom: $spacing-small;
}

%padding-bottom-medium {
    padding-bottom: $spacing-medium;
}

%padding-bottom-large {
    padding-bottom: $spacing-large;
}

%padding-bottom-xlarge {
    padding-bottom: $spacing-xlarge;
}

%padding-bottom-xxlarge {
    padding-bottom: $spacing-xxlarge;
}

%padding-left-xxsmall {
    padding-left: $spacing-xxsmall;
}

%padding-left-xsmall {
    padding-left: $spacing-xsmall;
}

%padding-left-small {
    padding-left: $spacing-small;
}

%padding-left-medium {
    padding-left: $spacing-medium;
}

%padding-left-large {
    padding-left: $spacing-large;
}

%padding-left-xlarge {
    padding-left: $spacing-xlarge;
}

%padding-left-xxlarge {
    padding-left: $spacing-xxlarge;
}

%padding-right-xxsmall {
    padding-right: $spacing-xxsmall;
}

%padding-right-xsmall {
    padding-right: $spacing-xsmall;
}

%padding-right-small {
    padding-right: $spacing-small;
}

%padding-right-medium {
    padding-right: $spacing-medium;
}

%padding-right-large {
    padding-right: $spacing-large;
}

%padding-right-xlarge {
    padding-right: $spacing-xlarge;
}

%padding-right-xxlarge {
    padding-right: $spacing-xxlarge;
}

%padding-top-xxsmall {
    padding-top: $spacing-xxsmall;
}

%padding-top-xsmall {
    padding-top: $spacing-xsmall;
}

%padding-top-small {
    padding-top: $spacing-small;
}

%padding-top-medium {
    padding-top: $spacing-medium;
}

%padding-top-large {
    padding-top: $spacing-large;
}

%padding-top-xlarge {
    padding-top: $spacing-xlarge;
}

%padding-top-xxlarge {
    padding-top: $spacing-xxlarge;
}
