@charset 'UTF-8';

@font-face {
    font-display: swap;
    font-family: 'open_sans_semibolditalic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'open_sans_semiboldregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'open_sansregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'open_sans_lightitalic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'open_sans_lightregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans-light-webfont.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'open_sansitalic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-italic-webfont.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'open_sans_extrabolditalic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'open_sans_extraboldregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-extrabold-webfont.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'open_sansbold_italic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bolditalic-webfont.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'open_sansbold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
}

@import 'base/toolkit';

body {

    background: $color-white-1;

    .testinject {
        color: $color-black-1;
        width: rem-calc(100);
    }

}

.anchor-1 {
    @extend %anchor-1;
}

.anchor-2 {
    @extend %anchor-2;
}

.breadcrumbs {
    @extend %breadcrumbs;
}

.category-products {
    @extend %category-products;
}

.color-black-1 {
    @extend %color-black-1;
}

.color-black-1-background {
    @extend %color-black-1-background;
}

.color-blue-1 {
    @extend %color-blue-1;
}

.color-blue-1-background {
    @extend %color-blue-1-background;
}

.color-grey-1 {
    @extend %color-grey-1;
}

.color-grey-1-background {
    @extend %color-grey-1-background;
}

.color-grey-2 {
    @extend %color-grey-2;
}

.color-grey-2-background {
    @extend %color-grey-2-background;
}

.color-grey-3 {
    @extend %color-grey-3;
}

.color-grey-3-background {
    @extend %color-grey-3-background;
}

.color-grey-4 {
    @extend %color-grey-4;
}

.color-grey-4-background {
    @extend %color-grey-4-background;
}

.color-green-1 {
    @extend %color-green-1;
}

.color-green-1-background {
    @extend %color-green-1-background;
}

.color-white-1 {
    @extend %color-white-1;
}

.color-white-1-background {
    @extend %color-white-1-background;
}

.content-style-guide {
    @extend %content-style-guide;
}

.font-open-sans-light-regular {
    @extend %font-open-sans-light-regular;
}

.font-open-sans-light-italic {
    @extend %font-open-sans-light-italic;
}

.font-open-sans-regular {
    @extend %font-open-sans-regular;
}

.font-open-sans-italic {
    @extend %font-open-sans-italic;
}

.font-open-sans-semi-bold-regular {
    @extend %font-open-sans-semi-bold-regular;
}

.font-open-sans-semi-bold-italic {
    @extend %font-open-sans-semi-bold-italic;
}

.font-open-sans-bold {
    @extend %font-open-sans-bold;
}

.font-open-sans-bold-italic {
    @extend %font-open-sans-bold-italic;
}

.font-open-sans-extra-bold-regular {
    @extend %font-open-sans-extra-bold-regular;
}

.font-open-sans-extra-bold-italic {
    @extend %font-open-sans-extra-bold-italic;
}

.product-detail {
    @extend %product-detail;
}
