%anchor-base-1 {

    @extend %accessibility-outline-1;

    cursor: pointer;
    transition: background-color $speed-fast ease-in-out;

}

%anchor-standard {

    @extend %anchor-base-1;

    color: $color-blue-4;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-blue-4;
        text-decoration: underline;
    }

}

%anchor-standard-touch {

    @extend %anchor-standard;

    align-items: center;
    display: flex;
    min-height: rem-calc(45);

}

%anchor-2 {

    @extend %anchor-base-1;
    @extend %color-background-green-2;
    @extend %font-open-sans-semi-bold-regular;

    @include media-breakpoint-up(sm) {
        font-size: rem-calc(16);
    }

    align-items: center;
    appearance: none;
    border: 0;
    border-radius: rem-calc(5);
    color: $color-white-1;
    display: inline-flex;
    font-size: rem-calc(14);
    justify-content: center;
    min-height: rem-calc(45);
    padding: 0 $spacing-medium;
    text-transform: uppercase;

    &:focus,
    &:hover {
        color: $color-white-1;
        text-decoration: none;
    }

}
