%anchor-base-1 {

    @extend %accessibility-outline-1;

    cursor: pointer;
    transition: opacity $speed-fast ease-in-out;

}

%anchor-standard {

    @extend %anchor-base-1;

    color: $color-blue-4;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $color-blue-4;
        text-decoration: underline;
    }

}

%anchor-2 {

    @extend %anchor-base-1;
    @extend %color-background-green-2;
    @extend %font-open-sans-semi-bold-regular;
    @extend %text-size-medium;

    @include media-breakpoint-up(md) {
        font-size: rem-calc(16);
    }

    align-items: center;
    border-radius: rem-calc(10);
    color: $color-white-1;
    display: inline-flex;
    justify-content: center;
    min-height: rem-calc(45);
    padding: 0 $spacing-medium;
    text-transform: uppercase;

    &:focus,
    &:hover {

        color: $color-white-1;
        text-decoration: none;

    }

}
