%input-1 {

    appearance: none;
    border: rem-calc(1) solid $color-grey-2;
    border-radius: rem-calc(10);
    color: $color-black-1;
    min-height: rem-calc(45);
    padding: 0 rem-calc(15);

    &:focus {
        border-color: $color-blue-4;
        outline: 0;
    }

    &::placeholder {
        color: $color-grey-1;
        opacity: 1;
    }

    // sass-lint:disable no-vendor-prefixes

    &::-webkit-search-cancel-button {
        @extend %accessibility-hidden-element-1;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        appearance: none;
    }

    // sass-lint:enable no-vendor-prefixes

}
