$color-black-1: #333;
$color-blue-1: #06f;
$color-grey-1: #f2f2f2;
$color-grey-2: #ccc;
$color-grey-3: #999;
$color-grey-4: #666;
$color-green-1: #679300;
$color-white-1: #fff;

%color-black-1 {
    color: $color-black-1;
}

%color-black-1-background {
    background-color: $color-black-1;
}

%color-blue-1 {
    color: $color-blue-1;
}

%color-blue-1-background {
    background-color: $color-blue-1;
}

%color-grey-1 {
    color: $color-grey-1;
}

%color-grey-1-background {
    background-color: $color-grey-1;
}

%color-grey-2 {
    color: $color-grey-2;
}

%color-grey-2-background {
    background-color: $color-grey-2;
}

%color-grey-3 {
    color: $color-grey-3;
}

%color-grey-3-background {
    background-color: $color-grey-3;
}

%color-grey-4 {
    color: $color-grey-4;
}

%color-grey-4-background {
    background-color: $color-grey-4;
}

%color-green-1 {
    color: $color-green-1;
}

%color-green-1-background {
    background-color: $color-green-1;
}

%color-white-1 {
    color: $color-white-1;
}

%color-white-1-background {
    background-color: $color-white-1;
}
