%breadcrumbs {

    @include media-breakpoint-up(lg) {
        display: flex;
    }

    display: none;
    margin-bottom: $spacing-medium;
    margin-top: $spacing-medium;

    ul {

        list-style: none;
        margin: 0;
        padding: 0;

        li  {

            @extend %font-open-sans-regular;
            @extend %font-size-small;

            display: inline-flex;
            margin-right: $spacing-small;

            a {
                @extend %anchor-standard;
            }

            &::after,
            &:last-child {
                align-items: center;
                display: inline-flex;
            }

            &::after {
                content: '>';
                margin-left: $spacing-small;
            }

            &:last-child {

                margin-right: 0;

                &::after {
                    content: none;
                }

            }

        }

    }

}
