%breadcrumbs {

    @include media-breakpoint-up(lg) {
        display: flex;
    }

    display: none;

    ul {

        list-style: none;
        margin: 0 0 $spacing-medium;
        padding: 0;

        li  {

            @extend %font-open-sans-regular;
            @extend %font-size-small;

            display: inline-flex;
            margin-right: $spacing-small;

            a {
                @extend %anchor-standard-touch;
            }

            &::after,
            &:last-child {
                align-items: center;
                display: inline-flex;
                min-height: rem-calc(45);
            }

            &::after {
                content: '>';
                margin-left: $spacing-small;
            }

            &:last-child {

                margin-right: 0;

                &::after {
                    content: none;
                }

            }

        }

    }

}
