%campaign {

    height: 100%;
    padding: 0 $spacing-xsmall $spacing-large;
    text-align: center;

    .inner {
        background-color: $color-grey-4;
        border-radius: $spacing-xsmall;
        height: 100%;
        padding: $spacing-small $spacing-small rem-calc(145);
        position: relative;
    }

    .type {

        @extend %label-style-standard;

        color: $color-purple-1;

    }

    .title {

        margin-bottom: $spacing-xsmall;

        strong {

            @extend %font-open-sans-semi-bold-regular;
            @extend %font-size-medium;

            color: $color-black-1;

        }

    }

    .code {

        bottom: $spacing-small;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;

        span {

            @extend %font-open-sans-regular;
            @extend %font-size-small;

            color: $color-black-1;

        }

        strong {

            @extend %font-open-sans-semi-bold-regular;
            @extend %font-size-large;

            color: $color-pink-1;
            display: inline-block;
            margin-bottom: $spacing-xsmall;
            margin-top: -$spacing-xsmall;

        }

        .store {

            text-align: center;

            span {

                @extend %font-open-sans-regular;
                @extend %font-size-small;

                color: $color-black-1;

            }

            a {
                @extend %anchor-standard;
            }

        }

    }

    .copy-to-clipboard {

        display: block;
        margin: 0 auto $spacing-small;
        position: relative;

        &.copied {

            &::after {

                @extend %font-open-sans-semi-bold-regular;
                @extend %font-size-xxlarge;

                @include media-breakpoint-up(sm) {
                    left: rem-calc(100);
                }

                color: $color-pink-1;
                content: '\2713';
                display: block;
                height: rem-calc(45);
                left: rem-calc(90);
                position: absolute;
                top: 0;

            }

        }

    }

}
