%category-products {

    @extend %font-open-sans-regular;

    .product {

        @extend %color-background-white-1;

        @include media-breakpoint-up(md) {
            padding-bottom: rem-calc(65);
        }

        height: 100%;
        padding: 0 rem-calc(5) rem-calc(60);
        position: relative;

        .image {

            margin-bottom: rem-calc(15);
            padding-bottom: 100%;
            position: relative;

            picture,
            img {
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

        }

        .detail {

            h3 {

                @extend %font-open-sans-semi-bold-regular;

                @include media-breakpoint-up(md) {
                    font-size: rem-calc(16);
                }

                font-size: rem-calc(14);
                margin-bottom: rem-calc(5);

            }

            p {

                @include media-breakpoint-up(md) {
                    font-size: rem-calc(10);
                }

                margin-bottom: rem-calc(5);

                &:last-child {

                    @include media-breakpoint-up(md) {
                        font-size: rem-calc(15);
                    }

                    margin-bottom: rem-calc(10);

                }

            }

            .program {

                @extend %font-open-sans-regular;

                @include media-breakpoint-up(md) {
                    font-size: rem-calc(12);
                }

                font-size: rem-calc(10);

                a {

                    @extend %font-open-sans-semi-bold-regular;

                    @include media-breakpoint-up(md) {
                        font-size: rem-calc(14);
                    }

                    font-size: rem-calc(12);

                }

            }

            .price {

                @extend %font-open-sans-semi-bold-regular;

                @include media-breakpoint-up(md) {
                    font-size: rem-calc(16);
                }

                font-size: rem-calc(14);

                span {

                    @extend %font-open-sans-regular;

                    @include media-breakpoint-up(md) {
                        font-size: rem-calc(12);
                    }

                    font-size: rem-calc(10);

                }

            }

        }

        .cta {

            bottom: 0;
            left: 0;
            margin-bottom: rem-calc(10);
            padding: 0 rem-calc(5) rem-calc(10);
            position: absolute;
            width: 100%;

            .anchor-2 {
                display: flex;
            }

        }

        &::after {

            border: rem-calc(5) transparent solid;
            bottom: rem-calc(5);
            box-shadow: 0 0 0 rem-calc(1) $color-grey-2 inset;
            content: '';
            display: block;
            height: rem-calc(11);
            left: 0;
            padding-left: rem-calc(5);
            padding-right: rem-calc(5);
            position: absolute;
            width: 100%;

        }

    }

}
