%category-products {

    padding-left: $spacing-small;
    padding-right: $spacing-small;

    .products {

        > div {
            margin-bottom: $spacing-large;
        }

    }

    .product {

        height: 100%;
        padding: $spacing-none $spacing-xsmall rem-calc(90);
        position: relative;

        .image {

            margin-bottom: $spacing-small;
            padding-bottom: 100%;
            position: relative;

            a {
                @extend %anchor-standard;
            }

            picture,
            img {
                left: $spacing-none;
                position: absolute;
                top: $spacing-none;
                width: 100%;
            }

        }

        .detail {

            h3 {

                @extend %font-open-sans-semi-bold-regular;
                @extend %font-size-medium;

                margin-bottom: $spacing-xsmall;

                a {
                    @extend %anchor-standard;
                }

            }

            p {
                margin-bottom: 0;
            }

            .program {

                @extend %font-open-sans-regular;
                @extend %font-size-xsmall;

                a {

                    @extend %anchor-standard;
                    @extend %font-open-sans-semi-bold-regular;
                    @extend %font-size-small;

                }

            }

        }

        .price {

            bottom: rem-calc(55);
            left: $spacing-none;
            margin: $spacing-none;
            padding: $spacing-xsmall;
            position: absolute;
            width: 100%;

            span {

                &:first-child {

                    @extend %font-open-sans-bold;
                    @extend %font-size-large;

                }

                &:last-child {

                    @extend %font-open-sans-semi-bold-regular;
                    @extend %font-size-xsmall;

                }
            }

        }

        .cta {

            bottom: rem-calc(1);
            left: $spacing-none;
            margin-bottom: $spacing-small;
            padding: $spacing-none $spacing-xsmall;
            position: absolute;
            width: 100%;

            a {
                display: flex;
            }

            &::after {

                border: rem-calc(5) transparent solid;
                bottom: rem-calc(-15);
                box-shadow: 0 0 0 rem-calc(1) $color-grey-3 inset;
                content: '';
                display: block;
                height: rem-calc(11);
                left: 0;
                padding-left: rem-calc(5);
                padding-right: rem-calc(5);
                position: absolute;
                width: 100%;

            }

        }

    }

}
