%email-sign-up {

    @extend %margin-bottom-large;

    color: $color-white-1;
    text-align: center;

    .row {

        @extend %gradient-background-1;
        @extend %padding-bottom-large;
        @extend %padding-top-large;

        @include media-breakpoint-up(sm) {
            border-radius: rem-calc(5);
        }

        border-radius: 0;

    }

    h2 {
        @extend %heading-1;
    }

    p {

        @extend %copy-style-standard;

        color: $color-white-1;
        margin: 0 auto $spacing-medium;
        max-width: rem-calc(325);

    }

    fieldset {
        @extend %margin-bottom-medium;
    }

    legend {
        @extend %accessibility-hidden-element-1;
    }

    label {

        @extend %heading-3;

        display: block;

    }

    input {

        @extend %input-1;

        display: block;
        margin: 0 auto $spacing-small;
        max-width: rem-calc(300);
        text-align: center;
        width: 100%;

        + .error,
        + .confirm {
            margin: 0 auto $spacing-small;
            max-width: rem-calc(300);
        }

    }

    button {
        @extend %button-standard;
    }

    small {

        @extend %font-size-small;

        a {

            @extend %anchor-standard;

            color: $color-white-1;

            &:hover,
            &:focus {
                color: $color-white-1;
            }

        }

    }

}
