%footer {

    &.closed {

        @include media-breakpoint-down(sm) {
            display: none;
        }

    }

    .row {
        @extend %padding-bottom-large;
    }

    small {

        @extend %font-open-sans-regular;
        @extend %font-size-small;

        color: $color-black-1;

        @include media-breakpoint-down(md) {

            align-items: center;
            display: flex;
            justify-content: center;
            min-height: rem-calc(45);

        }

    }

}
