%form-search {

    @include media-breakpoint-up(md) {

        position: absolute;
        right: $spacing-medium;
        top: rem-calc(-60);
        width: 50%;
        z-index: $layer-top;

        &.has-query {

            background-color: $color-white-1;
            border: rem-calc(1) solid $color-grey-2;
            border-radius: rem-calc(5);
            padding-bottom: $spacing-small;
            top: rem-calc(-61);

            fieldset {

                border-bottom: rem-calc(1) dotted $color-grey-3;
                padding-left: rem-calc(14);
                padding-right: rem-calc(14);

                &::before {
                    left: rem-calc(21);
                }

            }

        }

    }

    @keyframes spin {

        100% {
            transform: rotate(360deg);
        }

    }

    &.loading {

        fieldset {

            &::after {
                animation: spin $speed-medium linear infinite;
                opacity: 1;
            }

        }

    }

    fieldset {

        @include media-breakpoint-up(md) {
            position: relative;
        }

        @include media-breakpoint-down(sm) {
            background-color: $color-white-2;
            border-bottom: rem-calc(1) dotted $color-grey-3;
        }

        padding: $spacing-small $spacing-medium;
        position: fixed;
        width: 100%;
        z-index: $layer-top;

        &::after {
            background-image: url('../image/loader.svg');
            background-repeat: no-repeat;
            background-size: rem-calc(30) rem-calc(30);
            content: '';
            height: rem-calc(30);
            opacity: 0;
            position: absolute;
            right: rem-calc(21);
            top: rem-calc(18);
            transition: opacity $speed-fast ease-in;
            transition-delay: $speed-medium;
            width: rem-calc(30);
        }

        &::before {
            background-image: url('../image/search-black.svg');
            background-repeat: no-repeat;
            background-size: rem-calc(30) rem-calc(30);
            content: '';
            height: rem-calc(30);
            left: rem-calc(22);
            opacity: .5;
            position: absolute;
            top: rem-calc(17.5);
            width: rem-calc(30);
        }

        input {

            @extend %input-1;

            display: inline-block;
            padding-left: rem-calc(40);
            width: 100%;

            &:focus {
                padding-left: rem-calc(39);
            }

        }

    }

    .results,
    .results-initial,
    .results-empty {

        @include media-breakpoint-down(sm) {
            background-color: $color-white-1;
            padding: rem-calc(75) $spacing-medium rem-calc(66);
        }

        @include media-breakpoint-up(md) {
            padding: $spacing-medium $spacing-medium 0;
        }

    }

    .results {

        @include media-breakpoint-up(md) {
            // sass-lint:disable no-vendor-prefixes
            -webkit-overflow-scrolling: touch;
            // sass-lint:enable no-vendor-prefixes
            border-bottom: rem-calc(1) dotted $color-grey-3;
            max-height: rem-calc(350);
            overflow-y: scroll;
        }

        strong {
            @extend %label-style-standard;
        }

        ul {
            list-style: none;
            margin: 0 0 $spacing-small;
            padding: 0;
        }

        a {

            @extend %anchor-standard-touch;

            min-height: rem-calc(32);
            padding-bottom: $spacing-xsmall;
            padding-top: $spacing-xsmall;

        }

    }

    .results-initial,
    .results-empty {
        @extend %copy-style-standard;
    }

    .results-initial {

        p {

            @include media-breakpoint-up(md) {
                display: none;
            }

        }

    }

}
