%form-search {

    @keyframes spin {

        100% {
            transform: rotate(360deg);
        }

    }

    padding: rem-calc(15);

    &.loading {

        fieldset {

            &::after {
                animation: spin $speed-medium linear infinite;
                opacity: 1;
            }

        }

    }

    fieldset {

        position: relative;

        &::after {
            background-image: url('../image/loader.svg');
            background-repeat: no-repeat;
            background-size: rem-calc(30) rem-calc(30);
            content: '';
            height: rem-calc(30);
            opacity: 0;
            position: absolute;
            right: rem-calc(7.5);
            top: rem-calc(7.5);
            transition: opacity $speed-fast ease-in;
            transition-delay: $speed-medium;
            width: rem-calc(30);
        }

        &::before {
            background-image: url('../image/search-black.svg');
            background-repeat: no-repeat;
            background-size: rem-calc(30) rem-calc(30);
            content: '';
            height: rem-calc(30);
            left: rem-calc(7.5);
            opacity: .5;
            position: absolute;
            top: rem-calc(7.5);
            width: rem-calc(30);
        }

    }

    input {

        @extend %input-1;

        display: inline-block;
        padding-left: rem-calc(40);
        width: 100%;

    }

    .results,
    .results-empty {
        padding: rem-calc(15) 0;
    }

    .results {

        strong {
            @extend %label-style-standard;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {

            @extend %anchor-base-1;

            align-items: center;
            display: flex;
            min-height: rem-calc(45);

        }

    }

    .results-empty {

        @extend %copy-style-standard;

    }

}
