%header {

    @include media-breakpoint-only(xs) {
        border-bottom: rem-calc(1) solid $color-black-1;
        padding: rem-calc(10) 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    @include media-breakpoint-up(sm) {
        padding: rem-calc(20) 0;
    }

    background-color: $color-white-1;

    a {

        @extend %accessibility-hidden-text-1;
        @extend %accessibility-outline-1;

        @include media-breakpoint-up(sm) {
            background-image: url('../image/logo-desktop-tagline.svg');
            width: rem-calc(240);
        }

        background-image: url('../image/logo-mobile.svg');
        background-repeat: no-repeat;
        display: inline-block;
        height: rem-calc(45);
        width: rem-calc(52);

    }

    nav {

        display: flex;
        justify-content: space-between;

        .menu {

            background-image: url('../image/menu-black.svg');

            &.open {
                background-image: url('../image/menu-white.svg');
            }

        }

        .search {

            background-image: url('../image/search-black.svg');

            &.open {
                background-image: url('../image/search-white.svg');
            }

        }

        .menu,
        .search {

            @extend %accessibility-hidden-text-1;
            @extend %accessibility-outline-1;

            @include media-breakpoint-up(sm) {
                display: none;
            }

            appearance: none;
            background-position: center;
            background-repeat: no-repeat;
            border: 0;
            border-radius: rem-calc(5);
            height: rem-calc(45);
            padding: 0;
            width: rem-calc(45);

            &.open {
                background-color: $color-black-1;
            }

        }

    }

}
