%navigation-search {

    @include media-breakpoint-down(sm) {

        background-color: $color-white-1;
        display: none;
        height: 100%;
        width: 100%;

        &.open {
            display: block;
        }

    }

    @include media-breakpoint-up(md) {
        position: relative;
    }

    .close {

        @include media-breakpoint-up(md) {
            display: none;
        }

        background-color: $color-white-2;
        border-top: rem-calc(1) dotted $color-grey-3;
        bottom: 0;
        left: 0;
        padding: $spacing-small $spacing-medium;
        position: fixed;
        text-align: center;
        width: 100%;

    }

}
