%navigation-main {

    @include media-breakpoint-down(sm) {

        &.open {
            display: block;
        }

        .col-12 {

            > ul {
                border-bottom: rem-calc(1) solid $color-grey-3;
                padding-bottom: rem-calc(65);
            }

        }

    }

    background-color: $color-white-1;
    display: none;

    .col-12 {

        ul {

            margin: $spacing-none;
            padding: $spacing-none;

            li {
                display: block;
                list-style: none;
            }

        }

        > ul {

            margin: $spacing-none rem-calc(-15);

            > li {

                > button,
                > a {

                    @extend %font-open-sans-semi-bold-regular;

                    font-size: rem-calc(16);
                    overflow: hidden;

                    &::after {

                        @extend %font-open-sans-regular;

                        align-items: center;
                        content: '\2039';
                        display: flex;
                        font-size: rem-calc(30);
                        height: rem-calc(45);
                        justify-content: center;
                        position: absolute;
                        right: $spacing-medium;
                        top: rem-calc(3);
                        transform: rotate(180deg);
                        width: rem-calc(45);

                    }

                }

                &[aria-expanded='false'] {

                    ul {
                        display: none;
                    }

                    > button,
                    > a {

                        border-bottom-style: dotted;

                        &::after {

                            @extend %font-size-xxlarge;

                            content: '+';
                            top: 0;
                            transform: rotate(0deg);

                        }

                    }

                }

                &[aria-expanded='true'] {

                    > button,
                    > a {

                        border-bottom-style: dotted;

                        &::after {

                            @extend %font-size-xxlarge;

                            content: '\2013';
                            top: rem-calc(-2);
                            transform: rotate(0deg);

                        }

                    }

                }

                button,
                a {

                    @extend %anchor-base-1;

                    align-items: center;
                    border-bottom: rem-calc(1) solid $color-grey-3;
                    color: $color-blue-4;
                    display: flex;
                    min-height: rem-calc(45);
                    padding-left: $spacing-medium;
                    padding-right: $spacing-medium;
                    position: relative;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        color: $color-blue-4;
                        text-decoration: none;
                    }

                }

                button {
                    background-color: transparent;
                    border: 0;
                    cursor: default;
                    width: 100%;
                }

                > ul {

                    padding-bottom: $spacing-xsmall;
                    padding-top: $spacing-xsmall;

                    a,
                    button {
                        border-bottom-style: none;
                        padding-left: $spacing-large;
                    }

                }

            }

        }

    }

    .close {

        @include media-breakpoint-up(md) {
            display: none;
        }

        background-color: $color-white-2;
        border-top: rem-calc(1) dotted $color-grey-3;
        bottom: 0;
        left: 0;
        padding: $spacing-small $spacing-medium;
        position: fixed;
        text-align: center;
        width: 100%;

    }

    @include media-breakpoint-up(md) {

        display: block;

        .col-12 {

            > ul {

                border-bottom: rem-calc(2) solid $color-grey-3;
                padding-bottom: 0;

                > li {

                    display: inline-flex;

                    > a,
                    > button {

                        border: 0;

                        &::after {
                            display: none;
                        }

                    }

                    &:hover,
                    &:focus {

                        ul {
                            border-bottom: rem-calc(1) solid $color-grey-3;
                            display: block;
                        }

                        > a,
                        > button {
                            color: $color-black-1;
                        }

                    }

                    &[aria-expanded='false'],
                    &[aria-expanded='true'] {

                        ul {

                            background-color: $color-white-2;
                            border-bottom-width: rem-calc(2);
                            border-top: rem-calc(1) dotted $color-grey-3;
                            left: 0;
                            padding-bottom: $spacing-large;
                            padding-top: $spacing-medium;
                            position: absolute;
                            top: rem-calc(45);
                            width: 100%;
                            z-index: $layer-middle;

                            a,
                            button {

                                color: $color-black-1;
                                display: inline-flex;
                                min-height: rem-calc(32);
                                padding-left: $spacing-medium;

                                &:hover,
                                &:focus {
                                    color: $color-black-1;
                                    text-decoration: underline;
                                }

                            }

                        }

                        > a,
                        > button {

                            border-bottom: 0;
                            padding-right: rem-calc(22);

                            &::after {
                                content: '\2039';
                                display: flex;
                                height: rem-calc(13);
                                padding-bottom: rem-calc(6);
                                right: rem-calc(8);
                                top: rem-calc(18);
                                transform: rotate(-90deg);
                                width: rem-calc(8);
                            }

                        }

                    }

                }

            }

        }

    }

}
