%navigation-footer {

    ul {

        list-style: none;
        margin: 0;
        padding: 0;

        li {

            @include media-breakpoint-down(sm) {
                display: flex;
                justify-content: center;
            }

            @include media-breakpoint-up(md) {
                display: inline-flex;
                margin-left: rem-calc(-5);
            }

        }

        a {
            @extend %anchor-standard;
            @extend %font-open-sans-regular;
            @extend %font-size-medium;

            align-items: center;
            display: flex;
            min-height: rem-calc(45);
            padding: 0 rem-calc(7.5);

        }

    }

}
