%product-detail {

    @include media-breakpoint-up(md) {
        padding-bottom: $spacing-large;
    }

    border-bottom: rem-calc(1) solid $color-grey-3;
    margin-bottom: $spacing-large;
    padding-bottom: $spacing-medium;

    .image {

        padding-bottom: 100%;
        position: relative;

        img,
        picture {
            width: 100%;
        }

        > * {
            display: block;
            left: 0;
            padding: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

    }

    .images {

        margin-bottom: $spacing-medium;

        [role='tablist'] {

            list-style: none;

            [role='tab'] {

                @extend %accessibility-outline-1;

                border: rem-calc(3) solid $color-grey-1;
                cursor: pointer;

                &[aria-selected='true'] {
                    border: rem-calc(3) solid $color-black-1;
                }

            }

        }

        [aria-hidden='true'] {
            display: none;
        }

    }

    aside {

        h1 {

            @extend %font-open-sans-semi-bold-regular;
            @extend %font-size-xlarge;

            margin-bottom: $spacing-xsmall;

        }

        .discription {

            @extend %copy-style-standard;

            margin-bottom: $spacing-medium;

        }

        .program {

            @extend %font-open-sans-regular;
            @extend %font-size-medium;

            margin-bottom: $spacing-medium;

            a {
                @extend %font-open-sans-semi-bold-regular;
                @extend %font-size-medium;
                @extend %anchor-standard;
            }

        }

        .price {

            margin-bottom: $spacing-medium;

            span {

                &:first-child {

                    @extend %font-open-sans-bold;
                    @extend %font-size-xlarge;

                    margin-right: $spacing-xxsmall;

                }

                &:last-child {
                    @extend %font-open-sans-semi-bold-regular;
                    @extend %font-size-small;
                }

            }

        }

        .brand,
        .availability,
        .gtin,
        .mpn,
        .condition {

            @extend %font-open-sans-regular;
            @extend %font-size-medium;

            margin-bottom: $spacing-medium;

            strong {
                @extend %label-style-standard;
            }

            a {
                @extend %anchor-standard;
            }

        }

        .anchor-2 {

            @include media-breakpoint-up(lg) {
                max-width: 75%;
            }

            @include media-breakpoint-up(xl) {
                max-width: 50%;
            }

            margin-bottom: $spacing-medium;
            width: 100%;

        }

    }

}
