%wrapper {

    @include media-breakpoint-down(sm) {
        padding-top: rem-calc(66);
    }

    &.index,
    &.pdp,
    &.plp,
    &.content,
    &.unsubscribe,
    &.style {

        main {
            padding-top: rem-calc(15);
        }

    }

    &.pdp,
    &.plp,
    &.content {

        main {

            @include media-breakpoint-up(lg) {
                padding-top: 0;
            }

        }

    }

    main {

        &.closed {

            @include media-breakpoint-down(sm) {
                display: none;
            }

        }

    }

}
